<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
</script>
<script>
  $(window).scroll(function() {
    if ($(document).scrollTop() > 100) {
      $('nav').addClass('visible');
    } else {
      $('nav').removeClass('visible');
    }
  });
  $('p:has(img)').addClass('image-container');

  jQuery('.image-container').children('img').each(function() {

    $(this).attr("data-src",$(this).attr("src"));
    $(this).removeAttr("src");
  });

</script>

