
.welcome__background-image {
	content: "";
  	display: block;
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
	background-image: url("/img/mobile-cover.jpg");
	overflow: hidden;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: contrast(60%) grayscale(100%);
	z-index: -98;
	@include for-tablet-portrait-up {
		background-image: url("/img/cover.jpg");
		filter: contrast(20%) grayscale(100%) brightness(80%);
	}
	@media (orientation: portrait) {
		background-image: url("/img/mobile-cover.jpg");
		filter: contrast(60%) grayscale(100%);
		background-position: top;
	}
	@media (orientation: landscape) {
		background-image: url("/img/cover.jpg");
		filter: contrast(20%) grayscale(100%) brightness(80%);
	}
}

//Tint
.welcome__background-image::after { 
	background-color: #000;
	opacity: 0.4;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}


.project-page__background {
	position: absolute;
	top: 0;
	height: 600px;
	width: 100%;
}


.project-page__background__image {
	content: "";
  	display: block; // Display at small sizes
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
	background-image: url("/projects/qubeeffect/cover.jpg");
	filter: grayscale(100%) contrast(10%) brightness(60%);
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
	z-index: -98;
	@include for-desktop-up {
		display: block;
	}
}


// Tint
.project-page__background__image::after {
	background-color: $background-colour;
	opacity: 1;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	mix-blend-mode: lighten;
}

// Gradient 
.project-page__background__gradient {
	background: linear-gradient(rgba(140,140,140,0) 0%, rgba(140,140,140,0.1) 20%, rgba(140,140,140,1)); // Needs to match background colour
	opacity: 1;
	content: "";
	display: block;
	position: absolute;
	height: 80%;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -98;
}

.welcome {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.welcome__items {
	text-align: center;
	padding: 0 $padding-mobile 0 $padding-mobile;
	margin: auto auto auto auto;

	@include for-phone-landscape-up {
		max-width: 500px;
	}
}

.projects {
	background-color: $primary-colour;
}

.project {
	// margin-bottom: 6px; Line Between Projects
	height: 300px;
	width: 100%;
	background-color: #222;
	@include for-phone-landscape-up {
		height: 400px;
	}
	@include for-desktop-up {
		max-width: 50%;
		float: left;
	}
}

.project-page {
	p {
		font-size: 18px;
		max-width: 40em;
		padding: $padding-tablet $padding-mobile;
		@include for-phone-landscape-up {
	    	padding: 64px $padding-tablet $padding-tablet $padding-tablet;
	  	}
	}
	// p + p {
	// 	padding-top: 0; //Issue: Images are wrapped in p tags.
	// }
	.image-container {
		max-width: 100%;
		width: 100%;
		padding: 0;
		img {
			width: 100%;
			max-width: $max-width;
			padding: 0;
			@include for-tablet-portrait-up {
    			padding: $padding-tablet $padding-tablet 0 $padding-tablet;
  			}
		}
		.full-width {
			padding: $padding-tablet 0 0 0;
			max-width: 100%;

		}
	}
}


.project-page {
	p, h1, h2, a {
		color: $project-primary-colour;
		border-color: $project-primary-colour;
	}
	a:hover {
		color: $accent-colour;
	}
	p {
		line-height: 1.8em;
	}
	a.current {
		color: $project-primary-colour;
	}
}

// Adds Carets to Title and Paragraphs.
.project-page h1::after, .project-page p::after {
  content: "";
  display: inline-block;
  position: relative;
  height: 2px;
  width: 12px;
  background-color: $accent-colour;
  vertical-align: baseline;
  margin-left: 6px;
}


// Remove Carets from p tags generated by Jekyll.
.project-page .image-container::after {
	display: none;
}

footer {
	background-color: #464646;
	text-align: left;
	padding: 60px $padding-mobile;
	.logo--simple {
		display: inline-block;
		transform-origin: left center;
		transform: scale(1.2);
	}
	.logo--logotype {
		display: none;
	}
	@include for-phone-landscape-up {
		padding: 60px $padding-tablet;
		.logo--simple {
			display: none;
		}
		.logo--logotype {
			display: inline-block;
		}
	}
	.logo path{
    	fill: $primary-colour;
  	}
}

// Home page doesn't require margin-top.
.about-page, .project-page {
	footer {
		margin-top: 64px;
	}
}

