.video-background {
  display: none;
  @include for-tablet-portrait-up {
    display: block;
    background: #000;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -97;
    object-fit: cover;
  }
}
.video-overlay,
.video-foreground,
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  filter: contrast(20%) grayscale(100%) brightness(80%);
}

.video-overlay {
  background-color: #666;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}

nav {
  width: 100%;
  padding: 14px $padding-mobile 14px $padding-mobile;
  position: fixed;
  top: 0;
  text-align: right;
  transition: all 0.4s ease;
  // background-color: #757575;
  // box-shadow: 0 4px 12px rgba(0,0,0,0.064);
  .logo--simple {
    display: inline-block;
    transform-origin: left center;
    transform: scale(1.2);
    margin-top: 7px;
    margin-bottom: 4px;
  }
  .logo--logotype {
    display: none;
  }
  @include for-phone-landscape-up-alt {
    padding: 60px $padding-tablet;
    .logo--simple {
      display: none;
    }
    .logo--logotype {
      display: inline-block;
      margin-top: 10px;
      margin-bottom: 8px;
    }
  }



  z-index: 10;
  @include for-phone-landscape-up {
    padding: 14px $padding-tablet 14px $padding-tablet;
  }
}


.nav--home {
  display: none;
  @include for-tablet-portrait-up {
    display: block;
    background-color: transparent;
  }
}

.nav--home .nav__logo{
  opacity: 0;       //Show on scroll, also fade in background colour on nav
}

.visible {
  background-color: #646464;
  transition: all 0.4s ease;
}

.visible .nav__logo{
  opacity: 1;
  transition: all 2s ease;
}

.logo {
  path {
    fill: $accent-colour;
  }
}

.nav__logo {
  float: left;
  path {
    fill: $primary-colour;
  }
}

.nav__logo:hover {
  path { 
    fill: $accent-colour;
  }
} 

.nav__about {
  margin-right: 16px;
}

.current {
  display: inline-block;
  position: relative;
}

.current:after {
  content: "";
  display: block;
  position: relative;
  bottom: -4px;
  height: 2px;
  width: 8px;
  margin: 0 auto 0 auto;
  background-color: $accent-colour;
  z-index: -1;
  animation-name: cross;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

@keyframes cross {
  0% { 
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }
}

.current:hover {
  cursor: default;
}

.welcome {
  position: relative;
  h1 {
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  }

  h1 {
    font-size: 42px;
    line-height: 42px;
    font-weight: 900;
    margin-top: 20px;
  }

  h2 {
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;

  }
}

.welcome__items {
  @include for-phone-landscape-up {
    padding: 80px $padding-mobile 20px $padding-mobile;
  }
}

.welcome__buttons {
  margin-top: 20px;
  .button {
    margin-bottom: 8px;
  }
}

.welcome__about {
  @include for-tablet-portrait-up {
    display: none;
  }
}

.mouse {
  display: block;
  margin-bottom: 32px;
  transition: all 0.2s ease;
  transform: scaleY(-1);
  @include for-phone-landscape-up {
    transform: scaleY(1);

  }
}

.mouse__dot {
  animation-name: swipe;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  y: 9px;
  opacity: 1;
  transform: translateZ(0); //Performance Hack
  transform-origin: 9px 17px;
  will-change: transform;
}

@keyframes swipe {
  0% { 
    opacity: 0;
    y: 9px;
  }
  20% {
    opacity: 1;
  }
  73% {
    height: 4px;
  }
  75% {
    transform: translateY(0);
    height: 12px;
  }
  85% {
    transform: translateY(12px);
    height: 4px;
  }
  90% {
    opacity: 1;
  }
  100% { 
    transform: translateY(12px);
    opacity: 0;
  }
}

.mouse {
  .mouse__outline {
    stroke: $accent-colour;
  }
  .mouse__dot {
    fill: $accent-colour;
  }
  cursor: pointer; 
}

.mouse:hover {
  .mouse__outline {
    stroke: #A4CBFF;
  }
  .mouse__dot {
    fill: #A4CBFF;
  }
  cursor: pointer; 
}

.project {
  position: relative;
  overflow: hidden;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.project__overlay {
  display: block;
  width: 100%;
  height: 100%;
}

.project__overlay:hover {
  .project__title h3{
    transform: translateX(10px);
  }
  .project__title p{
    transform: translateX(4px);
  }
  .project__tint {
    opacity: 0;
  }
}

.project__tint {
  width: 100%;
  height: 100%;
  background-color: #B0B0B0;
  opacity: 0.2;
  transition: all 0.8s ease;
}

.project__tint::after {
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
}

.project__title {
  position: absolute;
  padding-left: 10px;
  margin: 0 0 40px $padding-mobile;
  bottom: 0;
  border-left: 2px solid $accent-colour;
  transition: all 0.2s ease;
  h3, p {
    color: white;
    font-weight: 100;
    transition: all 0.2s ease;
  }
  h3 {
    font-size: 24px;
    max-width: 240px;
  }
  p {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  @include for-tablet-portrait-up {
    margin: 48px;
    h3 {
      font-size: 24px;
    }
    p {
      font-size: 14px;
    }
  }
}

.info {
  position: relative;
  margin: 160px $padding-mobile $padding-mobile $padding-mobile;
  @include for-phone-landscape-up {
    margin: 220px $padding-tablet $padding-tablet $padding-tablet;
  }
  .button {
    position: absolute;
    top: 0;
    right: 0;
    @include for-phone-portrait-only {
      position: static;
      width: 100%;
      text-align: center;
      margin-top: 16px;
    }
  }
}

.info__items {
  position: relative;
  width: 100%;
  margin-top: 60px;
  h2 {
    padding-bottom: 8px;
    line-height: 1.4em;
    max-width: 800px;
  }
}

// Generic Container
.max-width {
  margin: 0 auto 0 auto;
  @include for-desktop-up {
    max-width: $max-width;
  }
}

// Clean up
nav .max-width, footer .max-width {
  @include for-desktop-up {
    padding: 0 32px;
  }
}

.video-responsive{
    max-width: 1000px;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin-top: $padding-mobile;
    @include for-tablet-portrait-up {
      margin: $padding-tablet $padding-tablet 0 $padding-tablet;
    }
}

.video-responsive iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.clients {
  margin: $padding-mobile;
  @include for-phone-landscape-up {
    margin: $padding-tablet;
  }
}

.clients__logo {
  max-width: 140px;
  max-height: 140px;
  margin: 0 10px 10px 0;
  float: left;
  filter: contrast(60%) grayscale(100%) invert(100%);
  transition: all 0.6s ease;
  @include for-phone-portrait-only {
    max-width: 90px;
    max-height: 90px;
    margin: 0 5px 5px 0;
  }
}

.clients__logo:hover {
  filter: contrast(100%) grayscale(0%) invert(0%);
  transition: all 0.6s ease;
}

.contact {
  .contact__form {
    padding: 0 $padding-mobile 0 $padding-mobile;
    @include for-phone-landscape-up {
      padding: 0 32px 0 32px;
    }
    font-weight: 100;
  }
  label {
    float: left;
    padding: 8px 8px 8px 0;
    font-size: 14px;
  }
  textarea {
    width: 100%;
    height: 200px;
    resize: none;
  }
  .field {
    background-color: #999;
    box-shadow: none;
    border: none;
    padding: 8px;
    font-weight: inherit;
    float: left;
    clear: left;
  }
  .field:focus {
    outline: none !important;
    background-color: #BBB;
  }
  fieldset {
    float: left;
    padding: 0;
    border: none;
    margin-right: 16px;
  }
  .name-field {
    max-width: 300px;
    width: 100%;
    .field {
      width: 100%;
    } 
  }
  .email-field {
    max-width: 400px;
    width: 100%;
    margin-top: 8px;
    clear: left;
    .field {
      width: 100%;
    }
  }
  .message-field {
    max-width: 600px;
    width: 100%;
    margin-top: 8px;
    clear: left;
  }
  .button {
    float: left;
    clear: left;
    margin-top: 16px;
  }
  .button:focus {
    outline: none !important;
    border-color: #DDD;
    color: #DDD;
  }
  .confirm {
    float: left;
    padding: 6px 0 7px 0;
    margin: 16px;
    opacity: 0;
    transform: translateX(-10px);
  }
  .confirm--visible {
    opacity: 1;
    transform: translateX(0px);
    transition: all 0.4s ease;
  }
}


.project-navigation {
  padding: 64px $padding-mobile 0 $padding-mobile;
  @include for-phone-landscape-up {
    padding: 64px 32px 0 32px;
  }
}

.project-navigation__previous {
  float: left;
  padding: 0 16px 16px 0;

}

.project-navigation__next {
  text-align: right;
  float: right;
  padding: 0 0 16px 16px; 
}

.social {
  height: 20px;
  width: 20px;
  float: right;
  margin-left: 16px;
  .fill {
    fill: #222;
    transition: all 0.2s ease;
  }
}

.social:hover {
  .fill {
    fill: $accent-colour;
  }
}

.lazyload,
.lazyloading {
  opacity: 0;
  min-height: 200px;
  min-width: 200px;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 1s;
}

